<div>
    <h2 class="scribbleName">Scribble name: <%= @scribble.name %></h2>
    <p>Scribble body: <%= @scribble.body %></p>
</div>

<div data-controller="timezone">
    <p>Scribble created: <%= @scribble.created_at.to_fs(:long) %></p>
    <p>Scribble set for deletion at: <%= (@scribble.created_at + @scribble.deleteTime.days).to_fs(:long) %></p>
</div>
