<section class="bg-gray-100 py-12">
    <turbo-frame id="startWindow">
        <div class="container mx-auto px-4 text-center flex flex-col">
            <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Scribble To </h1>
            <p>Main page for the app</p>
            <div>Create or recall a scribble:</div>
            <div class="flex justify-center">
                <%= render "indexForm" %>
            </div>
        </div>
    </turbo-frame>
</section>
