<section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4 text-center flex flex-col">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Scribble To </h1>
        <p>Main page for the app</p>
        <div>Create or recall a scribble:</div>
        <div class="flex justify-center">
            <%= render "indexForm" %>
        </div>
    </div>
    <div data-controller="theme">
        <button data-action="click->theme#switch" data-theme-name="light" class="p-2 border">Light Mode</button>
        <button data-action="click->theme#switch" data-theme-name="dark" class="p-2 border">Dark Mode</button>
        <button data-action="click->theme#switch" data-theme-name="retro" class="p-2 border">Retro Mode</button>
    </div>
</section>
