@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "DM Sans", sans-serif;
 	--font-roboto: "Roboto", sans-serif;
	--color-brand-primary: var(--color-brand-primary);
	--color-brand-secondary: var(--color-brand-secondary);
	--color-brand-error-bg: var(--color-brand-error-bg);
	--color-brand-error-border: var(--color-brand-error-border);
	--color-ui-bg: var(--ui-bg);
	--color-ui-text: var(--ui-text);
	--color-gray-text: var(--gray-text);
	--color-main-border: var(--color-main-border);
	--color-trix-button-bg: var(--color-trix-button-bg);

	--color-grey-10: hsl(210 24% 16%);
	--color-grey-9: hsl(209 20% 25%);
	--color-grey-8: hsl(209 18% 30%);
	--color-grey-7: hsl(209 14% 37%);
	--color-grey-6: hsl(211 12% 43%);
	--color-grey-5: hsl(211 10% 53%);
	--color-grey-4: hsl(211 13% 65%);
	--color-grey-3: hsl(210 16% 82%);
	--color-grey-2: hsl(214 15% 91%);
	--color-grey-1: hsl(216 33% 97%);

	/* Global Definitions of Variables  */
	--radius-theme-md: 0.5rem;
}

@layer base {
	/* Default Light Theme */
	:root {
		--color-brand-primary: hsl(330 79% 56%);
		--color-brand-error-bg: hsl(338 100% 86%);
		--color-brand-error-border: hsl(343, 90%, 39%);
		--color-brand-secondary: hsl(264 96% 70%);
		--ui-bg: hsl(240, 25%, 98%);
		--ui-text: #0f172a;
		--gray-text: hsl(211 10% 53%);
		--color-main-border: hsl(210 16% 82%);
		--color-trix-button-bg: hsl(338, 100%, 66%);
	}

	/* Dark Theme */
	:root[data-theme="dark"],
	.dark {
		--color-brand-primary: hsl(330 79% 56%);
		--color-brand-error-bg: hsl(338 100% 86%);
		--color-brand-error-border: hsl(343, 90%, 39%);
		--color-brand-secondary: hsl(264 96% 70%);
		--ui-bg: hsl(0, 0%, 6%);
		--ui-text: hsl(0, 0%, 89%);
		--gray-text: hsl(211 13% 65%);
		--color-main-border: hsl(210 16% 82%);
		--color-trix-button-bg: hsl(338, 100%, 66%);
	}

	/* Custom "Retro" Accent Theme */
	:root[data-theme="retro"] {
		--color-brand-primary: hsl(120, 91%, 35%);
		--color-brand-secondary: hsl(135, 96%, 18%);
		--color-brand-error-bg: hsl(0, 0%, 5%);
		--color-brand-error-border: hsl(120, 91%, 35%);
		--ui-bg: hsl(0, 0%, 5%);
		--ui-text: hsl(132, 73%, 45%);
		--gray-text: hsl(135, 96%, 30%);
		--color-main-border: hsl(138, 93%, 11%);
		--color-trix-button-bg: hsl(120, 90%, 15%);
	}
}

trix-toolbar .trix-button-group--file-tools {
	display: none !important;
}

@layer components {
	/* Prevent the wrapper div from breaking Flexbox / Grid layouts */
	.field_with_errors { display: contents }
}

@layer utilities {
	@keyframes popup {
		0% {
			transform: scale(0.9) translateY(10px);
			opacity: 0;
		}
		100% {
			transform: scale(1) translateY(0);
			opacity: 1;
		}
	}

	.animate-popup {
		animation: popup 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
	}
}
